.App {
    text-align: center;
}

.RecipesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
}

.RecipesList-item {
    margin-bottom: 24px;
    width: 48%;
}

.main {
    display: block;
    justify-content: center;
}

.botonera {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
}

@media (min-width: 1000px) {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 70px;
        padding-right: 70px;
        width: 40%;
    }
}

li {
    background-color: silver;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

input[type='submit'] {
    padding: 7px 20px;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: green;
}